<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE log4j:configuration PUBLIC "-//LOGGER" "log4j.dtd">

<log4j:configuration xmlns:log4j="http://jakarta.apache.org/log4j/">

	<!-- Appenders -->
	<appender name="console" class="org.apache.log4j.ConsoleAppender">
		<param name="Target" value="System.out" />
		<layout class="org.apache.log4j.PatternLayout">
			<param name="ConversionPattern" value="%d{yyyy-MM-dd HH:mm:ss,SSS} [%t]  %-5p %c %x - %m%n" />
		</layout>
	</appender>
	
	<appender name="systemLog" class="org.apache.log4j.RollingFileAppender">
		<param name="File" value="${plcloud.root}/log/log.txt"/>
		<param name="encoding" value="UTF-8"/>
		<param name="MaxFileSize" value="500KB"/>
		<param name="MaxBackupIndex" value="1000"/>
		<layout class="org.apache.log4j.PatternLayout">
			<param name="ConversionPattern" value="%d{yyyy-MM-dd HH:mm:ss,SSS} [%t]  %-5p %c %x - %m%n" />
		</layout>
	</appender>
	
	<appender name="springLog" class="org.apache.log4j.RollingFileAppender">
		<param name="File" value="${plcloud.root}/log/spring.txt"/>
		<param name="encoding" value="UTF-8"/>
		<param name="MaxFileSize" value="500KB"/>
		<param name="MaxBackupIndex" value="1000"/>
		<layout class="org.apache.log4j.PatternLayout">
			<param name="ConversionPattern" value="%d{yyyy-MM-dd HH:mm:ss,SSS} [%t]  %-5p %c %x - %m%n" />
		</layout>
	</appender>
	
	<appender name="mybatisLog" class="org.apache.log4j.RollingFileAppender">
		<param name="File" value="${plcloud.root}/log/mybatis.txt"/>
		<param name="encoding" value="UTF-8"/>
		<param name="MaxFileSize" value="500KB"/>
		<param name="MaxBackupIndex" value="1000"/>
		<layout class="org.apache.log4j.PatternLayout">
			<param name="ConversionPattern" value="%d{yyyy-MM-dd HH:mm:ss,SSS} [%t]  %-5p %c %x - %m%n" />
		</layout>
	</appender>
	
	<!-- Application Loggers -->
<!-- 	<logger name="com.routon.idr.AMQP">
		<level value="info" />
		<appender-ref ref="console" />
		<appender-ref ref="systemLog" />
	</logger> -->
	
	<!-- 3rdparty Loggers -->
	<logger name="org.springframework">
		<level value="info" />
		<appender-ref ref="springLog" />
	</logger>

	<logger name="org.apache.ibatis">
		<level value="info" />
		<appender-ref ref="mybatisLog" />
	</logger>
	
	<logger name="org.mybatis.spring">
		<level value="info" />
		<appender-ref ref="mybatisLog" />
	</logger>
	
	<logger name="com.mchange.v2">
		<level value="error" />
		<appender-ref ref="systemLog" />
	</logger>	

	<!-- Root Logger -->
	<root>
		<priority value="info" />
		<appender-ref ref="console" />
		<appender-ref ref="systemLog" />
	</root>
	
</log4j:configuration>
